.reference-sidebar {
  position: fixed;
  top: 10%;
  right: -25px;
  z-index: 1000;
  display: inline-block;
  transition: right 0.3s ease-in-out; 
}

.reference-sidebar-btn {
  width: 50px;
  height: 50px;
  background-color: hsla(0,0%,94%,.9);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 16px;
  transition: transform 0.3s ease-in-out;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.reference-sidebar:hover {
  right: 0;
}

.reference-sidebar.open {
  right: 15vw;
}

.reference-sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 10%;
  right: 0;
  background-color: #f9f9f9;
  width: 15vw;
  height: 60vh;
  max-height: 60vh; 
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  padding: 16px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, width 0.3s ease-in-out;
  transform: translateX(100%);
  opacity: 0;
  overflow-y: auto;
  border-bottom-left-radius: 15px;
}

.reference-sidebar.open .reference-sidebar-content {
  transform: translateX(0); 
  opacity: 1; 
}

.reference-sidebar-btn {
  transition: right 0.3s ease-in-out;
}

.expand-btn {
  position: fixed;
  top: calc(10% + 300px); /* 按钮位于主按钮下方 */
  right: -60px;  /* 按钮一开始不在屏幕内 */
  background-color: #e7e7e7;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 80px;
  border-radius: 15px 0 0 15px; 
  font-size: 14px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease-in-out; 
}

.reference-sidebar.open .expand-btn {
  right: 15vw;
}

.expand-btn.wide {
  transform: translateX(-10vw); 
}

.reference-sidebar.wide .reference-sidebar-content {
  width: 25vw; /* 设置宽度 */
}

.reference-sidebar.wide .reference-sidebar-btn {
  transform: translateX(-10vw);  /* 跟随宽度变化 */
}

.expand-btn:hover {
  background-color: #adadad;
}